.top-bar
  .top-bar-left
    ul.menu
      li.menu-text= title
  .top-bar-right
    ul(ng-cloak='').menu
      li.username(ng-show='userName') 
        | Welcome {{userName}}

      li
        a(ui-sref='home') Home
                
      li(ng-show='!userName') 
        a(ui-sref='login') Log In
        
      li(ng-show='userName') 
        a(ng-click='logout()') Log Out
        
      li(ng-show='!userName')
        a(ui-sref='new_user') New Account

      li(ng-show='userName') 
        a(ui-sref='edit_user({id: userID})') Edit Account
        
      li
        a(ui-sref='new_ticket') New Ticket
        
.callout.large.primary
  .row
    .medium-6.columns.text-center
        h1 MEAN Help Desk
        
    .medium-6.columns
        p An app built with the MEAN stack
        #codelist
            ul
                li MongoDB
                li Express.js
                li Angular.js
                li Node.js
            ul
                li 
                  i also...
                li Jade
                li Foundation