.top-bar
  .top-bar-left
    ul.menu
      li.menu-text= title
  .top-bar-right
    ul.menu
      li
        a(ui-sref='home') All Tickets
      li
        a(ui-sref='new_ticket') New Ticket
        
.callout.large.primary
  .row.column.text-center
    h1
      | MEAN Help Desk
