


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#uiview_wrap{
	position: relative;
}

[ui-view]{
	position: absolute; /* to facilitate transitions */
	width: 100%;
}

.ng-enter,
.ng-leave {
	 -webkit-transition: .5s linear all;
	 transition: .5s linear all;
}


.ng-leave{
	 opacity: 1;
}

.ng-enter,
.ng-leave-active{
	 opacity: 0;
}

.ng-enter-active{
	opacity: 1;
}

/* tickets */

/* 
arriving element:
ng-enter immediately followed by ng-enter-active

going away:
ng-leave immediately followed by ng-leave-active
 */

.ticket{
	-webkit-transition: .5s linear all;
	transition: .5s linear all; /* All other modern browsers and IE10+ */
}

.ticket.ng-enter,/* start, when arriving */
.ticket.ng-leave.ng-leave-active{ /* finish, when leaving */
/* 	max-height: 0; */
}
.ticket.ng-leave,/* start, when leaving */
.ticket.ng-enter.ng-enter-active{ /* finish, when arriving */
/* 	max-height: 300px; */
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=tel], [type=time], [type=url], [type=color], [type=number], [type=search], textarea{
	color: #000;
}

ul{
	list-style: none;
}

/* =-=-=-=-=-=-=-[ general ]=-=-=-=-=-=-=- */

/* taken from: */
/* https://coolors.co/app/a2faa3-92c9b1-4f759b-5d5179-571f4e */

.top-bar,
.top-bar ul{
	background-color: #92C9B1;
}
.top-bar a{
	color: #5D5179;
}
.callout.primary{
	background-color: #4F759B;
}

/* =-=-=-=-=-=-=-[ header ]=-=-=-=-=-=-=- */

#codelist{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

#codelist ul{
	width: 100px;
}

/* =-=-=-=-=-=-=-[ forms ]=-=-=-=-=-=-=- */

#form_message{
	margin-top: 20px;
}

#form_message.hide_message{
	 -webkit-transition: 1s linear opacity;
	 transition: 1s linear opacity;
	opacity: 0;
}

form.ng-invalid [type=submit]{
	opacity: .5;
}

.form_link {
	margin-top: 20px;
}

.ng-untouched + .val_errors{
	display: none;
}

/* =-=-=-=-=-=-=-[ edit/create ticket ]=-=-=-=-=-=-=- */

form#edit_ticket .val_status .required,
#edit_create_ticket .fa-asterisk{
	color: red;
	font-size: 13px;
}

form#edit_ticket .val_status .check{
	color: green;
}

#edit_create_ticket .field_message{
	margin-bottom: 20px;
}

.delete{
	margin: 20px 0 0;
}

/* =-=-=-=-=-=-=-[ ticket view ]=-=-=-=-=-=-=- */

#comment_form{
	margin-bottom: 20px;
}
#comment_form #comment_submit{
	float: right;
}

.comments .comment_author{
	float: left;
}

.comments .comment_date{
	float: right;
}

.comments small{
	color: #cacaca;
}

.comments .comment_body{
	clear: both;
}





