
/* =-=-=-=-=-=-=-[ ng-animate stuff ]=-=-=-=-=-=-=- */

@-webkit-keyframes fadeIn{
	from {opacity: 0;filter: alpha(opacity=0)}
	to {opacity: 1;filter: alpha(opacity=100)}
}
@keyframes fadeIn{
	from {opacity: 0;filter: alpha(opacity=0)}
	to {opacity: 1;filter: alpha(opacity=100)}
}
@-webkit-keyframes fadeOut{
	from {opacity: 1;filter: alpha(opacity=100)}
	to {opacity: 0;filter: alpha(opacity=0)}
}
@keyframes fadeOut{
	from {opacity: 1;filter: alpha(opacity=100)}
	to {opacity: 0;filter: alpha(opacity=0)}
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

[ui-view].ng-enter,
[ui-view].ng-leave {
	 -webkit-transition: .5s linear all;
	 transition: .5s linear all; /* All other modern browsers and IE10+ */
}

.ng-enter-active,
.ng-leave{
	 opacity: 1;
}

.ng-enter,
.ng-leave-active{
	 opacity: 0;
}

/* 
.ng-leave{
	-webkit-animation-name: fadeOut;
	        animation-name: fadeOut;
}
.ng-enter{
	-webkit-animation-name: fadeIn;
	        animation-name: fadeIn;
}
 */

/* tickets */

/* 
arriving element:
ng-enter immediately followed by ng-enter-active

going away:
ng-leave immediately followed by ng-leave-active
 */

.ticket{
	-webkit-transition: .5s linear all;
	transition: .5s linear all; /* All other modern browsers and IE10+ */
}

.ticket.ng-enter,/* start, when arriving */
.ticket.ng-leave.ng-leave-active{ /* finish, when leaving */
/* 	max-height: 0; */
}
.ticket.ng-leave,/* start, when leaving */
.ticket.ng-enter.ng-enter-active{ /* finish, when arriving */
/* 	max-height: 300px; */
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=tel], [type=time], [type=url], [type=color], [type=number], [type=search], textarea{
	color: #000;
}

ul{
	list-style: none;
}


/* =-=-=-=-=-=-=-[ forms ]=-=-=-=-=-=-=- */

#form_message{
	margin-top: 20px;
}

#form_message.hide_message{
	 -webkit-transition: 1s linear opacity;
	 transition: 1s linear opacity;
	opacity: 0;
}

form.ng-invalid [type=submit]{
	opacity: .5;
}

/* =-=-=-=-=-=-=-[ edit/create ticket ]=-=-=-=-=-=-=- */

form#edit_ticket .val_status{
	float: left;
}

form#edit_ticket input,
form#edit_ticket textarea{
	width: 92%;
	float: right;
}
form#edit_ticket .val_status .required{
	color: red;
}

form#edit_ticket .val_status .check{
	color: green;
}