<div class="row">
    <div class="medium-5 medium-centered columns">
        <h1>{{header}}</h1>
        <form novalidate name="login_form"> <!-- form name is an object with form stats in it, see submit buttons -->
                
            <input ng-model="user.email" name="email" type="email" placeholder="Email" required>
                
            <input ng-model="user.password" name="password" type="password" placeholder="Password" required>

            <div class="form-error is-visible">{{message}}</div>
            
        	<input  type="submit" 
                    value="login" 
                    ng-click="login(user)">

			<div class="form_link">
				<a ui-sref="new_user">Register</a>
			</div>

        </form>
           
    </div>
</div>

<div ng-include="'/partials/footer.html'"></div>