<div class="row">
    <div class="medium-3 columns">
        <h3>{{ticket.title}}</h3>
        <div class="">
            <ul>
                <li>{{ticket.created_on | formatDate }}</li>
                <li>Author: {{ticket.author}}</li>
                <li>Urgency: {{ticket.urgency}}</li>
                <li>Assigned to: {{ticket.assigned}}</li>
            </ul>
        </div>
    </div>
    <div class="medium-8 columns">
		<div class="">
			
			<form id="comment_form" name="comment_form" class="clearfix">
			    <h4>Add Comment</h4>
                <input 
                    type="text"
                    name="comment_author"
                    ng-model="comment.comment_author" 
                    placeholder="Your Name">
                    
                <textarea 
                    type="text" 
                    name="comment_body" 
                    ng-model="comment.comment_body" 
                    placeholder="Comment">
                </textarea>
                                    
				<input id="comment_submit" type="submit" ng-click="postComment(comment)">
			</form>
			
			<div class="comments">
			
                <div class="comment callout" ng-repeat="comment in ticket.comments | orderBy: '-comment_date'">
                    <div class="comment_header">
                        <div class="comment_author">
                            {{comment.comment_author}}
                        </div>
                        <small class="comment_date">
                            {{comment.comment_date | formatDate }}
                        </small>
                    </div>
                    <div class="comment_body">
                        {{comment.comment_body}}
                    </div>
                </div>

                <div class="comment callout"> <!-- initial ticket content -->
                    <div class="comment_header">
                        <div class="comment_author">
                            {{ticket.author}}
                        </div>
                        <small class="comment_date">
                            {{ticket.created_on | formatDate }}
                        </small>
                    </div>
                    <div class="comment_body">
                        {{ticket.description}}
                    </div>
                </div>

			</div>
		</div>
        <a ui-sref="edit_ticket({id: ticket._id})">Edit Ticket</a>
    </div>
</div>

