<div class="row">
    <div class="medium-8 columns">
        <h1>{{header}}</h1>
        <form novalidate name="ticket_form">
            <input ng-model="ticket.title" type="text" placeholder="Subject" required>
            <textarea rows="9" ng-model="ticket.description" placeholder="Describe the issue" required></textarea>
            <input ng-model="ticket.author" type="text" placeholder="Author" required>
            <input ng-model="ticket.client" type="text" placeholder="Client Name/Website" required>
            <input ng-model="ticket.urgency" type="text" placeholder="Priority" required>
            <input ng-model="ticket.assigned" type="text" placeholder="Assigned To" required>
<!--             show status choices if in edit mode -->
            <label for="status" ng-if="editmode">Status</label>
            <select ng-options="option for option in status_options" ng-model="ticket.status" ng-if="editmode" required>
            </select>
            
        	<input  type="submit" 
                    value="create" 
                    ng-click="addTicket()" 
                    ng-disabled="ticket_form.$invalid" 
                    ng-if="!editmode">
                    
        	<input  type="submit"
        	        value="update" 
        	        ng-click="updateTicket()"
                    ng-disabled="ticket_form.$invalid" 
        	        ng-if="editmode">
        </form>
        <div id="form_message" ng-class="message_class">{{message}}</div>
    </div>
</div>