<div class="row">
    <div class="medium-6 medium-centered columns">
        <h1>{{header}}</h1>
        <form novalidate name="user_form"> <!-- form name is an object with form stats in it, see submit buttons -->
            <input ng-model="user.name.first" name="first" type="text" placeholder="First Name" required>
            <div ng-messages="user_form.first.$error" class="callout alert">
                <div ng-message="required">Required</div>
            </div>
                
            <input ng-model="user.name.last" name="last" type="text" placeholder="Last Name" required>
                <div ng-messages="user_form.last.$error" class="callout alert">
                    <div ng-message="required">Required</div>
                </div>
                
            <input ng-model="user.email" name="email" type="email" placeholder="Email" required>
                <div ng-messages="user_form.email.$error" class="callout alert">
                    <div ng-message="required">Required</div>
                </div>
                
            <input ng-model="user.password" min="4" name="password" type="password" placeholder="Password" required>
                <div ng-messages="user_form.password.$error" class="callout alert">
                    <div ng-message="required">Required</div>
                </div>
            <input ng-model="user.password_conf" name="password_conf" type="password" placeholder="Repeat Password" required>
                <div ng-if="user.password_conf !== user.password">Passwords need to match</div>
                <div ng-messages="user_form.password_conf.$error" class="callout alert">
                    <div ng-message="required">Required</div>
                </div>

        	<input  type="submit" 
                    value="create" 
                    ng-click="addUser()" 
                    ng-disabled="user_form.$invalid" 
                    ng-if="!editmode">
                    
        	<input  type="submit"
        	        value="update" 
        	        ng-click="updateUser()"
                    ng-disabled="user_form.$invalid" 
        	        ng-if="editmode">

        </form>
                

    </div>

</div>