<div class="row">
    <div class="medium-6 medium-centered columns">
        <h1>{{header}}</h1>
        <form novalidate name="user_form"> <!-- form name is an object with form stats in it, see submit buttons -->
            <input ng-model="user.name.first" name="first" type="text" placeholder="First Name" required>
                
            <input ng-model="user.name.last" name="last" type="text" placeholder="Last Name" required>
                
            <input ng-model="user.email" name="email" type="email" placeholder="Email" required>
                
            <input ng-model="user.password" min="4" name="password" type="password" placeholder="Password" required>

            <input ng-model="user.password_conf" name="password_conf" type="password" placeholder="Repeat Password" required>
            <div class="val_errors" ng-show="user.password_conf !== user.password">Passwords need to match</div>

        	<input  type="submit" 
                    value="create" 
                    ng-click="addUser()" 
                    ng-disabled="user_form.$invalid" 
                    ng-if="!editmode">
                    
        	<input  type="submit"
        	        value="update" 
        	        ng-click="updateUser(user)"
                    ng-disabled="user_form.$invalid" 
        	        ng-if="editmode">

			<div class="form_link" ng-if="!editmode">
				<a ui-sref="login">Log in</a>
			</div>
        </form>
                

    </div>

</div>